:host {
  width: 33%;
}

.avatar {
  position: relative;
  border: 1px solid lightblue;


  &__image {
    width: 100%;
    height: 7rem;
  }

  &__selected {
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 255, 0.3);

    &_icon{
        transform: scale(2);
        color: white;
    }
  }
}
