<div class="avatar" (click)="selectAvatar()">
    <img class="avatar__image" [src]="avatarSrc" alt="">

    <div class="avatar__selected" *ngIf="isSelected">
        <ion-icon class="avatar__selected_icon" name="checkmark-circle-outline"></ion-icon>
    </div>
</div>