<div class="card" [class.card_right]="getIsRight()">
    <img [src]="getAvatar()" alt="" class="card__logo">
    <div class="card__content">
        <div class="card__content-info">
            <span class="card__content-info_name">{{message.user_name}}</span>
            <span class="card__content-info_date">{{message.time | appTimePipe}}</span>
        </div>
        <div class="card__content-message">{{message.text}}</div>
    </div>
</div>