.card {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
  
    &_right{
      flex-direction: row-reverse;
    }
  
    &__logo {
      width: 3rem;
      height: 3rem;
      background-color: orange;
      border-radius: 50%;
    }
  
    &__content {
      display: flex;
      flex-direction: column;
      width: 80%;
  
      &-info {
        width: 100%;
        display: flex;
        justify-content: space-between;
        box-sizing: border-box;
        padding: 0 0.5rem;
      }
    }
    &__content-message {
      width: 100%;
      box-sizing: border-box;
      padding: 0.7rem;
      background-color: bisque;
      font-size: 0.9rem;
      border-radius: 0.3rem;
    }
  }