<ion-header>
    <ion-toolbar color="warning">
        <ion-buttons>
            <ion-menu-button></ion-menu-button>
            Welcome to chat
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content fullscreen="true">
    <ion-list #list class="message-list ion-padding">

        <app-message [message]="item" [users]="users" *ngFor="let item of messages"></app-message>


    </ion-list>
    <div class="dialog">
        <input type="text" [(ngModel)]="userMessage" class="dialog__input">
        <div class="dialog__send" (click)="send()">
            <ion-icon name="send"></ion-icon>
        </div>
    </div>

</ion-content>