<ion-app>
    <ion-menu side="start" type="overlay" contentId="first">
        <ion-header>
          <ion-toolbar color="primary">
            <ion-title>Главное меню</ion-title>
          </ion-toolbar>
        </ion-header>
        <ion-content>
          <ion-list (click)="closeMenu()">
            <ion-item routerLink='home' routerLinkActive="active"><ion-icon name="home"></ion-icon><span class="menu-item"   >Домашняя страница</span></ion-item>
            <ion-item routerLink='chat' routerLinkActive="active"><ion-icon name="chatboxes"></ion-icon><span class="menu-item">Чат</span></ion-item>
            <ion-item routerLink='account' routerLinkActive="active" ><ion-icon name="person"></ion-icon><span class="menu-item">Личный кабинет</span></ion-item>
            <ion-item (click)="closeApp()"><ion-icon name="exit" color="danger"></ion-icon><span class="menu-item">Выход</span></ion-item>
            
          </ion-list>
        </ion-content>
      </ion-menu>
      
     

  <ion-router-outlet id="first"></ion-router-outlet>
</ion-app>
