<ion-header>
  <ion-toolbar color="medium">
    <ion-title>
      Регистрация
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form novalidate class="form" [formGroup]="userForm">
    <ion-item>
      <ion-label position="floating">Имя<span class="required">*</span></ion-label>
      <ion-input formControlName="name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Пароль<span class="required">*</span></ion-label>
      <ion-input type="password" formControlName="password"></ion-input>
    </ion-item>
  </form>

  <ion-button fill="outline" expand="block" color="medium" (click)="closeModal()">Отмена</ion-button>
  <ion-button fill="solid" expand="block" color="success"(click)="register()">Регистрация</ion-button>



</ion-content>