<ion-header>
    <ion-toolbar color="success">
        <ion-buttons>
            <ion-menu-button></ion-menu-button>
            Account
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" fullscreen="true">
    <form novalidate class="form" [formGroup]="userForm">
        <ion-item>
            <ion-label position="floating">Имя</ion-label>
            <ion-input formControlName="name"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label position="floating">Пароль</ion-label>
            <ion-input type="password" formControlName="password"></ion-input>
        </ion-item>
       
    </form>
    <div class="avatars">
        <app-avatar (changeAvatar)="onAvatarChange($event)" [currentAvatar]="item" *ngFor="let item of avatars"></app-avatar>
    </div>
    <ion-button>Сохранить</ion-button>
    <ion-button (click)="cancel()">Отмена</ion-button>
</ion-content>